__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
venv/
env/
.venv/
.env/
ENV/
env.bak/
venv.bak/
.python-version
.env
.env.*
!.env.example
*.env
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
images/
data/
